body{
    background-color: white;
    position: relative;
}
.gif{
    height: 100vh;
    width: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.spacer{
    position: absolute;
    background-color: white;
    height: 100vw;
    width: 100vw;
    left: 0;
    top: 0;
}

.pic{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(12, 1fr);
    grid-column-gap: 50px;
    grid-row-gap: 10px; 
    height: 600px; 
    width: 500px; 
    background-color: lightgray; 
    justify-content: center;
    border-radius: 10px;
    display: flex;
    align-items: center;
    vertical-align: middle;
    align-content: center;
    margin-left: 500px;
    margin-top: 10px;
    box-shadow: 4px 4px 7px red;
   
    border-bottom: red;

               
    
}
.homebutton{
    text-decoration: none;
    color: white; }
.homebutton:hover{
    text-decoration: underline;
    color: lightgray;
}

.header{
    background: linear-gradient(to right, brown,red);
    padding: 5px 0;
    justify-content:space-between;
    width: 1400px;
    margin-left: 50px;
    

}
.Profilbild{
    border-radius: 100px;
}