body{
    background-color: white;
    position: relative;
}

.gif{
    height: 100vh;
    width: auto;
    position: absolute;
    margin-top: 1.25rem;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

.spacer{
    position: absolute;
    background-color: white;
    height: 100vw;
    width: 100vw;
    left: 0;
    top: 0;
    display: flex;
    justify-content: space-between;
}

.Unterhaltung{
    border-radius: .625rem;
    box-shadow: .1875rem .1875rem .4688rem brown;
    margin-top: 3.125rem;
    margin-left: .3125rem;
}

.pic{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(12, 1fr);
    grid-column-gap: 3.125rem;
    grid-row-gap: .625rem; 
    height: 37.5rem; 
    width: 31.25rem; 
    background-color: lightgray; 
    justify-content: center;
    border-radius: .625rem;
    display: flex;
    align-items: center;
    vertical-align: middle;
    align-content: center;
    margin-left: 43.75rem;
    margin-top: .625rem;
    border-bottom: red;
}

.homebutton{
    text-decoration: none;
    color: white;
}

.homebutton:hover{
    text-decoration: underline;
    color: lightgray;
}

.header{
    background: linear-gradient(to right, brown,red);
    padding: .3125rem 0;
    justify-content:space-between;
    width: auto;
}

.Profilbild{
    border-radius: 6.25rem;
}