@font-face {
    font-family: "NotoSans";
    src: url(Noto-Sans/NotoSans-Bold.ttf)
}

body {
    margin: 0;
    padding: 0;
    background-color: gray;
    font-family: "NotoSans";
    position: relative;
}

header {
    background: linear-gradient(to right, rgb(0, 0, 0), red);
    color: white;
    padding: 1.5625rem 0;
    justify-content:space-between;
    width: auto;
}

.logo {
    display: flex;
    align-items: center;
    padding: 0 1.25rem;
    justify-content:space-between;
}

.logo img {
    width: 3.125rem;
    height: auto;
    margin-right: .625rem;
}

.home-button {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 1.125rem;
}

.home-button:hover{
    text-decoration: underline;
    color: lightgray;
}

.zentriert{
    background-color: lightgray;
    color: black;
    border-radius: .9375rem;
    margin-top: 1.25rem;
    margin-left: 31.25rem;
    margin-right: 34.375rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 3.125rem;
    grid-row-gap: .9375rem;
}

.quadrat { 
    height: 46.875rem; 
    width: 31.25rem; 
    background-color: lightgray; 
    justify-content: center;
    border-radius: .625rem;
    display: flex;
    align-items: center;
    vertical-align: middle;
    align-content: center;
    position: relative;
 }

 .login{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(10, 1fr);
    grid-column-gap: 3.125rem;
    grid-row-gap: 1.25rem; 
    justify-content: center;
    align-items: center;
    color: black;
    border-radius: .9375rem;
    margin-left: 18.75rem;
    margin-right: 18.75rem;
    background-color: lightgray;
 }

.textarea{
    width: 15.625rem;
    height: 3.125rem;
}


.regi{
    border-radius: .625rem;
    height: 1.5625rem;
    width: 18.75rem;
}

footer {
    background: linear-gradient(to right, black, red);
    color: white;
    padding: 1.5625rem 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 3.125rem;
    grid-row-gap: 0rem; 
    flex-direction: row;
}

div.wow{
    display: flex;
    text-align: left;
    justify-content: right;
    color: black;
}

div.no{
    color: black;
    
}
.DislikeButton{
    border-radius: 6.25rem;
    margin-left: 3.125rem;
    height: 6.25rem;
    width: 6.25rem;
}
.DislikeIMG{
    border-radius: 6.25rem;
    height: 6.25rem;
    width: 6.25rem;
}
.WowButton{
    border-radius: 6.25rem;
    height: 6.25rem;
    width: 6.25rem;
    margin-right: 3.125rem;
}
.WowIMG{
    border-radius: 6.25rem;
    height: 6.25rem;
    width: 6.25rem;
}
.Profilbild{
    border-radius: 6.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 50%;
}

.chatoben{
    display: flex;
    justify-content: space-between;
    margin-left: 18.75rem;
    margin-right: 18.75rem;
    background-color: lightgray;
    height: 3.125rem;
}

.chatbild{
    width: 3.125rem;
    height: 3.125rem;
}

.chatraum{
    height: 43.75rem;
    margin-left: 18.75rem;
    margin-right: 18.75rem;
    background-color: lightgrey;
}

.textchat{
    width: 18.75rem;
    height: 1.5625rem;
    display: flex;
    color: black;
    justify-content: space-between;
    flex-direction: row;
    background-color: lightgray;
    margin-left: 18.75rem;
    margin-right: 18.75rem;
}

.chatunten{
    height: 3.125rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 1.5625rem;
    grid-row-gap: .9375rem; 
    flex-direction: row;
    margin-left: 18.75rem;
    margin-right: 18.75rem;
    background-color: lightgray;
    color: black;
}

.cschreib{
    height: 2.1875rem;
    width: 14.375rem;
    border-radius: .3125rem;
    background: #1d2021;
    color: white;
}

.pic{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(12, 1fr);
    grid-column-gap: 3.125rem;
    grid-row-gap: .625rem; 
    height: 37.5rem; 
    width: 31.25rem; 
    background-color: lightgray; 
    justify-content: center;
    border-radius: .625rem;
    display: flex;
    align-items: center;
    vertical-align: middle;
    align-content: center;
    margin-left: 43.75rem;
    margin-top: .625rem;
    border-bottom: red;
}

.Unterhaltung{
    border-radius: .625rem;
    box-shadow: .1875rem .1875rem .4688rem brown;
    margin-top: 3.125rem;
    margin-left: .3125rem;
}

.spacer{
    position: absolute;
    background-color: white;
    height: 100vw;
    width: 100vw;
    left: 0;
    top: 0;
    display: flex;
    justify-content: space-between;
}

.gif{
    height: 100vh;
    width: auto;
    position: absolute;
    margin-top: 1.25rem;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

.chatname{
    background-color: lightgray;
    text-decoration: none;
}

.profilbildm{
    border-radius: 6.25rem;
}

.kontakt{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(10, 1fr);
    grid-column-gap: 3.125rem;
    grid-row-gap: 1.25rem; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
    border-radius: .9375rem;
    margin-left: 18.75rem;
    margin-right: 18.75rem;
    background-color: lightgray;
}