body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: gray;
}

header {
    background: linear-gradient(to right, black, red); /* Schwarzer-roter Verlauf */
    color: white;
    padding: 25px 0;
    justify-content:space-between;
    position: sticky;
}

.logo {
    display: flex;
    align-items: center;
    padding: 0 20px;
    justify-content:space-between;
}

.logo img {
    width: 50px;
    height: auto;
    margin-right: 10px;
}

.home-button {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 18px;
}

.home-button:hover {
    text-decoration: underline;
}

.zentriert{
    margin-top: 30px;
    vertical-align: middle;
    display: flex;
    justify-content: center;
    position: relative;
}

.quadrat { 
    height: 750px; 
    width: 500px; 
    background-color: lightgray; 
    justify-content: center;
    border-radius: 10px;
    display: flex;
    align-items: center;
    vertical-align: middle;
    align-content: center;
    position: relative;
 }

 .login{
    display: flex;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
    color: black;
    border-radius: 15px;
    margin-left: 300px;
    margin-right: 300px;
    background-color: lightgray;
 }

.textarea{
    width: 250px;
    height: 50px;
}