@font-face {
    font-family: "NotoSans";
    src: url(Noto-Sans/NotoSans-Bold.ttf)
}

body {
    margin: 0;
    padding: 0;
    background-color: gray;
    font-family: "NotoSans";
    position: relative;
}

header {
    background: linear-gradient(to right, rgb(0, 0, 0), red);
    color: white;
    padding: 25px 0;
    justify-content:space-between;
    width: auto;
}

.logo {
    display: flex;
    align-items: center;
    padding: 0 20px;
    justify-content:space-between;
}

.logo img {
    width: 50px;
    height: auto;
    margin-right: 10px;
}

.home-button {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 18px;
}

.home-button:hover {
    text-decoration: underline;
    color: lightgray;
}

.zentriert{
    background-color: lightgray;
    color: black;
    border-radius: 15px;
    margin-top: 20px;
    margin-left: 500px;
    margin-right: 550px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 50px;
    grid-row-gap: 15px;
}

.quadrat { 
    height: 750px; 
    width: 500px; 
    background-color: lightgray; 
    justify-content: center;
    border-radius: 10px;
    display: flex;
    align-items: center;
    vertical-align: middle;
    align-content: center;
    position: relative;
 }

 .login{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(10, 1fr);
    grid-column-gap: 50px;
    grid-row-gap: 20px; 
    justify-content: center;
    align-items: center;
    color: black;
    border-radius: 15px;
    margin-left: 300px;
    margin-right: 300px;
    background-color: lightgray;
 }

.textarea{
    width: 250px;
    height: 50px;
}


.regi{
    border-radius: 10px;
    height: 25px;
    width: 300px;
}

footer {
    background: linear-gradient(to right, black, red);
    color: white;
    padding: 25px 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 50px;
    grid-row-gap: 0px; 
    flex-direction: row;
}

div.wow{
    display: flex;
    text-align: left;
    justify-content: right;
    color: black;
}

div.no{
    color: black;
    
}
.DislikeButton{
    border-radius: 100px;
    margin-left: 50px;
    height: 100px;
    width: 100px;
}
.DislikeIMG{
    border-radius: 100px;
    height: 100px;
    width: 100px;
}
.WowButton{
    border-radius: 100px;
    height: 100px;
    width: 100px;
    margin-right: 50px;
}
.WowIMG{
    border-radius: 100px;
    height: 100px;
    width: 100px;
}
.Profilbild{
    border-radius: 100px;
    display: flex;
    justify-content: center;
    margin-left: 800px;
}

.chatoben{
    display: flex;
    justify-content: space-between;
    margin-left: 300px;
    margin-right: 300px;
    background-color: lightgray;
    height: 50px;
}

.chatbild{
    width: 50px;
    height: 50px;
}

.chatraum{
    height: 700px;
    margin-left: 300px;
    margin-right: 300px;
    background-color: lightgrey;
}

.textchat{
    width: 300px;
    height: 25px;
    display: flex;
    color: black;
    justify-content: space-between;
    flex-direction: row;
    background-color: lightgray;
    margin-left: 300px;
    margin-right: 300px;
}

.chatunten{
    height: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 25px;
    grid-row-gap: 15px; 
    flex-direction: row;
    margin-left: 300px;
    margin-right: 300px;
    background-color: lightgray;
    color: black;
}

.cschreib{
    height: 35px;
    width: 230px;
    border-radius: 5px;
    background: #1d2021;
}

.pic{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(12, 1fr);
    grid-column-gap: 50px;
    grid-row-gap: 10px; 
    height: 600px; 
    width: 500px; 
    background-color: lightgray; 
    justify-content: center;
    border-radius: 10px;
    display: flex;
    align-items: center;
    vertical-align: middle;
    align-content: center;
    margin-left: 700px;
    margin-top: 10px;
    border-bottom: red;
}

.Unterhaltung{
    border-radius: 10px;
    box-shadow: 3px 3px 7.5px brown;
    margin-top: 50px;
    margin-left: 5px;
}

.spacer{
    position: absolute;
    background-color: white;
    height: 100vw;
    width: 100vw;
    left: 0;
    top: 0;
    display: flex;
    justify-content: space-between;
}

.gif{
    height: 100vh;
    width: auto;
    position: absolute;
    margin-top: 20px;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}